<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>Indian Open Source Foundation</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	<header class="grey lighten-2">
		<nav class="nav-wrapper grey darken-4">
		<div class="container">
			<a href="" class="brand-logo"><img src="{% static 'images/iosf.png' %}" height="60px"></a>
			<ul class="right">
				<li><a href="#about-section"><b>About</b></a></li>
				<li><a href=""><b>Apply</b></a></li>
				<li><a href=""><b>Ideas List</b></a></li>
				<li><a href=""><b>Donate</b></a></li>
				<li><a href="" class="btn-floating grey darken-4"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="" class="btn-floating grey darken-4"><i class="fab fa-twitter"></i></a></li>
			</ul>
			</div>
		</nav>
		<div>
		<div class="container">
			<div class="heading">
				<h2 class=""><b>INDIAN OPEN SOURCE FOUNDATION</b></h2>
				<p class="flow-text"><b>Promoting Open Source Contribution. One Step At A Time.</b></p>
				<a href=""  class="apply-btn btn-large grey darken-4 z-depth-0">Apply</a>
				<a href="" 	class="view-code-btn btn-large z-depth-0">View Our Code</a>
			</div>
		</div>
	</div>
	</header>
	<div class="">
		<section id="about-section" class="section container">
			<h3 class="center"><b>About</b></h3>
			<div class="row">
			<div class="col s12 m6">
				<p class="flow-text"><b>I.O.S.F</b> is an emerging organisation, taking a step towards the world of open source contribution. Join us in our journey and help us creating effective and efficient technologies.</p>
			</div>
			</div>
		</section>
	</div>
	<div class="grey lighten-2">
		<section class="section container">
			<h3 class="center"><b>Idea List For GSoC </b></h3>
			<p class="flow-text">The ogranisation is all set for the <b>Google Summer of Code</b>. We have a bunch of interesting & competitive ideas for the world's biggest open source software development programme.</p>
			<p class="flow-text">Click <a href="">HERE</a> for Idea List.</p>
		</section>
	</div>
	<div>
		<section class="section container">
			<h3 class="center"><b>Connect</b></h3>
			<p class="flow-text center">Apply and get a chance to meet us or connect with us online.</p>
			<div class="center-align">
				<a href="" class="btn-large apply-btn grey darken-4">APPLY</a>
				<a href=""  class="social btn-large btn-floating grey darken-4"><i class="fab fa-facebook-f"></i></a>
				<a href="" class="social btn-large btn-floating grey darken-4"><i class="fab fa-twitter"></i></a>
				<a href="" class="social btn-large btn-floating grey darken-4"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<p class="flow-text grey-text center">Invite your friends too!</p>
		</section>
	</div>
	<footer class="page-footer grey darken-4">
		<div class="container">
			<div class="row">
				<div class="col m4 s12">
					<ul class="footer-links">
						<li><a href="" class="grey-text">About</a></li>
						<li><a href="" class="grey-text">Apply</a></li>
						<li><a href="" class="grey-text">Mailing List</a></li>
						<li><a href="" class="grey-text">About</a></li>
						<li><a href="" class="grey-text">Donate</a></li>
					</ul>
					</div>
					<div class="col m6 s12 offset-m2">
						<ul>
							<li><p class="flow-text"><i class="fas fa-phone"></i></p></li>
							<li><p class="flow-text"><i class="fas fa-envelope"></i></p></li>
							<li><p class="flow-text"><i class="fas fa-map-marker-alt"></i></p></li>
						</ul>
					</div>
				</div>
		</div>
		<div class="footer-copyright">
			<div class="container center-align">
				&copy; Indian Open Source Foundation.
			</div>
		</div>
	</footer>
</body>
</html>


<!-- idea list -->